.point {
  position: absolute;
  top: -42%;
  width: 58px;
  height: 58px;
  background: #007bbf;
  border-radius: 50%;
  border: 10px solid #bdbdbd;
  transition: 0.5s;
}
.point::before {
  content: "";
  position: absolute;
  top: 16.2px;
  left: -33px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-top-right-radius: 60px;
  box-shadow: 5px -10px 0 0 #bdbdbd;
}
.point::after {
  content: "";
  position: absolute;
  top: 16.2px;
  right: -33px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-top-left-radius: 60px;
  box-shadow: -5px -10px 0 0 #bdbdbd;
}
.navigation ul li:nth-child(1).active ~ .point{
  transform: translateX(calc(-80px * 0));
}
.navigation ul li:nth-child(2).active ~ .point{
  transform: translateX(calc(-80px * 1));
}
.navigation ul li:nth-child(3).active ~ .point{
  transform: translateX(calc(-70px * 2));
}
.navigation ul li:nth-child(4).active ~ .point{
  transform: translateX(calc(-70px * 3));
}
.navigation ul li:nth-child(5).active ~ .point{
  transform: translateX(calc(-70px * 4));
}
