@tailwind base;
@tailwind components;
@tailwind utilities;

.offer {
  background: var(
    --Linear,
    linear-gradient(
      305deg,
      #004e68 23.67%,
      #1f8cb0 38.36%,
      #4bbbe0 47.91%,
      #2c88a7 58.79%,
      #004e69 86.4%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
